@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.navbar {
  background-color: #fff !important;
}
#header .header-img img {
  width: 60%;
}
.navbar-brand {
  color: #565387 !important;
  font-size: 1.9rem !important;
}
.menu_active {
  font-weight: bold !important;
  border-bottom: 1px solid #565387 !important;
}
footer p {
  padding: 0;
  margin: 0;
}
@media (min-width: 991px) {
  #header {
    height: 80vh;
    text-align: center;
  }
  #header .header-img {
    text-align: center;
  }
  #header .header-img img {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #header {
    margin-top: 20px;
  }
  #header h1 {
    font-size: 28px;
  }
  #header h2 {
    font-size: 18px;
    margin-bottom: 30px;
  }
  #header .header-img img {
    width: 70%;
  }
}
